# Entorno virtual
.venv/
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env

# Base de datos SQLite
*.sqlite3

# Archivos de logs
*.log

# Archivos temporales
*.tmp

# Configuración de IDEs
.vscode/

.gitattributes

# Carpeta de archivos
uploads