<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Menu de Navegacion con Listas</title>
        <link rel = "stylesheet" type = "text/css" href = "static/css/estilos.css"> <!-- Diapositiva 35 hay otro metodo-->
    </head>
    <body>
        <ul class = "menu">
            <li><a href = "/login">Inicio de Sesion</a></li>
            <li><a href = "#">Productos</a></li>
            <li><a href = "#">Servicios</a></li>
            <li><a href = "#">Acerca de</a></li>
            <li><a href = "#">Contacto</a></li>
        </ul>
        <h1>  Plataforma de Recepción y Evaluación Científica <h1>
        <h3> Bienvenido al sistema de Congreso. Seleccione su perfil de ingreso en la barra superior para continuar </h3>
    </body>
</html>