{% extends "base.html" %}
{% block title %}Login - ETI{% endblock %}
{% block content %}
<section class="form-page">
    <h2>Formulario de Inicio de Sesión</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" class="input-text" placeholder="ejemplo@correo.com" required>
        </div>
        <div class="form-group">
            <label for="clave">Contraseña:</label>
            <input type="password" id="clave" name="clave" class="input-text" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <label for="rol">Iniciar sesión como:</label>
            <select id="rol" name="rol" class="input-select" required>
                <option value="" disabled selected>Selecciona tu rol...</option>
                <option value="evaluador">Evaluador</option>
                <option value="organizador">Organizador</option>
            </select>
        </div>
        <button type="submit" class="btn-primary">Ingresar</button>
    </form>
</section>
{% endblock %}
